:local(.rootStyle) {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;

  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100000;
  background-color: white;

  .toolbar {
    height: 50px;
  }

  .locator {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
      margin-right: 2px;
    }
  }
}
